{{ define "comment" }}
<div class="comment" id="comment-{{ .Comment.ID }}">
    <div class="comment-meta">
        <span class="author">{{ .Comment.Username }}</span>
        <time>{{ .Comment.CreatedAt.Format "02 Jan 2006 15:04" }}</time>
    </div>

    <div class="comment-content" id="comment-content-{{.Comment.ID}}">
        {{.Comment.Content}}
    </div>

    <div class="reactions">
        {{ if .User }}
            <button class="like-btn {{ if .Comment.UserLiked }}active{{ end }}" 
                    data-comment-id="{{ .Comment.ID }}" 
                    data-type="like">
                👍 <span class="likes-count">{{ .Comment.Likes }}</span>
            </button>
            <button class="dislike-btn {{ if .Comment.UserDisliked }}active{{ end }}" 
                    data-comment-id="{{ .Comment.ID }}" 
                    data-type="dislike">
                👎 <span class="dislikes-count">{{ .Comment.Dislikes }}</span>
            </button>
        {{ else }}
            <span class="reaction-count">👍 {{ .Comment.Likes }}</span>
            <span class="reaction-count">👎 {{ .Comment.Dislikes }}</span>
        {{ end }}
    </div>
</div>
{{ end }} 