<!-- {{ define "content" }}
<div class="categories-container">
    <div class="categories-grid">
        {{range .Categories}}
            <div class="category-card">
                <h2>{{.Name}}</h2>
                <p>{{.Description}}</p>
                <p>{{.PostCount}} posts</p>
                <a href="/category/{{.ID}}" class="view-posts">View Posts</a>
            </div>
        {{end}}
    </div>
</div>

<script src="/static/js/reactions.js"></script>
{{ end }}

{{ define "index.html" }}
    {{ template "header" . }}
    {{ template "content" . }}
    {{ template "footer" . }}
{{ end }}  -->