{{ define "footer" }}
</main>
    <footer class="bg-primary shadow-sm mt-auto">
        <div class="container-footer">
            <div class="footer-content">
                <div class="footer-section">
                    <h4>A FORUM TO GET INFORMATION ABOUT MOVING TO AND LIVING IN THE ÅLAND ISLANDS</h4>
                </div>
                <!-- <div class="footer-section">
                    <h5>Navigation</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/rules">Rules</a></li>
                    </ul>
                </div> -->
                <div class="footer-section">
                    <h6>Contact</h6>
                    <ul>
                        <li>
                            <a href="mailto:kateryna.ovsiienko@gritlab.ax">
                                <i class="fas fa-envelope"></i> Email: support@forum.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p>&copy; 2025 Life in Åland. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
{{ end }} 