{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="static" href="/static/flag.jpeg">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>{{ .Title }} - LIFE IN ÅLAND</title>
</head>

    <header>
        <nav></nav>
    </header>
    <main>
            <div class="nav-links">
                <a href="/">HOME</a>
                <a href="/rules">RULES</a>
                {{ if .User }}
                    <div style="display:none">
                        User ID: {{.User.ID}}
                        Is Admin: {{.User.IsAdmin}}
                    </div>
                    <a href="/post/new">CREATE POST</a>
                    <a href="/logout">LOGOUT</a>
                {{ else }}
                    <a href="/login">LOGIN</a>
                    <a href="/register">REGISTER</a>
                {{ end }}
            </div>

{{ end }} 