{{define "login.html"}}
    {{template "header" .}}
    <div class="container">
        <div class="login-container">
            <div class="login-title">
                <span>Login</span>
            </div>
        {{if .Error}}
            <div class="error-message">
                {{.Error}}
            </div>
        {{end}}
        <form method="POST" action="/login" class="auth-container">
            <div class="input-wrapper">
                <input type="text" id="email" name="email" class="input-field" required placeholder="Email">
                <i class="fa-regular fa-email icon"></i>
            </div>

            <div class="input-wrapper">
                <input type="password" id="pass" name="password" class="input-field" required placeholder="Password">
                <i class="fa-solid fa-lock icon"></i>
            </div>
                
            <div class="input-wrapper">
                <input type="submit" value="Login" class="input-submit">
                </div>

            <div class="input-wrapper">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember Me</label>
            </div>
                <div class="input-wrapper">
                    <span>Don't have an account? <a href="/register">Sign Up</a></span>
                </div>
        </form>
    </div>
    </div>
    <main>
    {{template "footer" .}}
{{end}} 