{{define "register.html"}}
    {{template "header" .}}

    <div class="container">
        <div class="register-container">
            <div class="register-title">
                <span>Sign Up</span>
            </div>
            {{if .Error}}
                <div class="error-message">
                    {{.Error}}
                </div>
            {{end}}
            <form method="POST" action="/register" class="auth-container">
                
                <div class="input-wrapper">
                    <input type="text" id="email" name="email" class="input-field" required placeholder="Email">
                    <i class="fa-regular fa-email icon"></i>
                </div>

                <div class="input-wrapper">
                    <input type="text" id="username" name="username" class="input-field" required placeholder="Username">
                    <i class="fa-regular fa-user icon"></i>
                </div>

                <div class="input-wrapper">
                    <input type="password" id="pass" name="password" class="input-field" required placeholder="Password">
                    <i class="fa-solid fa-lock icon"></i>
                </div>

                <div class="input-wrapper">
                    <input type="submit" value="Sign Up" class="input-submit">
                </div>

                <div class="input-wrapper">
                    <span>Already have an account <a href="/login">Login</a></span>
                </div>
            </form>
        </div>
    </div>
    {{template "footer" .}}
{{end}} 